[*.cs]
dotnet_analyzer_diagnostic.category-Performance.severity = silent
dotnet_code_quality_unused_parameters=non_public
csharp_style_implicit_object_creation_when_type_is_apparent=false
csharp_style_prefer_switch_expression=false:suggestion
csharp_style_expression_bodied_indexers=when_on_single_line:silent

[*.{cs,vb}]
dotnet_diagnostic.CA2211.severity=silent